
// cores principais
$corDeFundo: #f5f6fa;

//cores header
$corHeaderFundo: #182C61;
$corFonteLinkMenu: #fff;

//cores produtos
$corBgBotaoProdutos: #44bd32;
$corBgBotaoHoverProdutos: #4cd137;
$corFonteBotaoProdutos: #fff;

// Breakponts
$mobile: 767px;
$tablet: 1023px;